.business {
	background-color: #f7f8fb;

	&-box {
		margin-top: $gnb-height-sm + 15px;
	}

	&-title {
		@include text-style(32, $primary, $font-sub);
	}

	&-desc {
		@include text-style(12, $secondary);
		margin-bottom: 30px;
	}

	@include responsive(T) {
		position: relative;

		&-box {
			margin: 200px 0;
		}

		&-head {
			width: 100%;
			text-align: center;
		}

		&-title {
			@include text-style(60, $primary, $font-sub);
		}

		&-desc {
			@include text-style(18, $secondary);
		}
	}

	@include responsive(D) {
		position: relative;

		&::before {
			position: absolute;
			top: 164px;
			right: 0;
			width: 244px;
			height: 862px;
			font-family: $font-sub;
			font-size: 115px;
			font-weight: 800;
			letter-spacing: 0;
			color: #0b3cae;
			content: 'GIVE CONCERN TAKE HEALTH';
			opacity: 0.1;
			writing-mode: vertical-rl;
		}
	}
}
