.contact {
	background-color: #000;

	@include responsive(D) {
		position: relative;
		height: 640px;

		&-box {
			padding: -30px 0;

			.figure {
				position: absolute;
				top: 0;
				left: 0;

				&-image {
					width: 50vw;

					img {
						border-radius: 0;
					}
				}
			}
		}

		&-head.newsroom-head {
			position: absolute;
			width: calc(50vw + 60px);
			right: 0;
			bottom: 110px;
			margin-top: 0;
			background-color: $blue;
		}
	}
}
