.contact {
	padding: 0 15px;
	padding-bottom: 55px;
	background-color: #000;

	&-head {
		margin-bottom: 15px;

		h2,
		p,
		a {
			color: $white;
		}

		p {
			opacity: 0.6;
		}
	}

	@include responsive(T) {
		padding: 0 40px 110px;
	}

	@include responsive(D) {
		padding: 0 0;

		&-box {
			position: relative;
			height: 750px;
			min-width: 1200px;

			.figure {
				position: absolute;
				top: 0;
				left: 0;
				width: 45%;
			}
		}

		&-head {
			position: absolute;
			right: 0;
			bottom: 110px;
			width: 60%;
			height: 70%;
			padding-left: 15%;
			margin-bottom: 0;
			background-color: #08308b;

			&-title {
				@include position-center-y;
				width: 274px;
				height: 230px;
			}
		}
	}
}
