.figure {
	&-image {
		display: block;
		margin-bottom: 10px;

		img {
			width: 80%;
			border-radius: 8px;
		}
	}

	&-caption {
		margin-bottom: 5px;
		word-break: keep-all;
	}

	&-title {
		@include text-style(20, $primary, $font-sub);
		font-weight: 800;
	}

	&-desc {
		@include text-style(12, $secondary);
		margin-bottom: 5px;

		&-blue {
			@include text-style(12, $blue);
			font-weight: 800;
		}
	}

	@include responsive(T) {
		&-image {
			img {
				width: 100%;
				border-radius: 8px;
			}
		}

		&.box-title {
			margin-right: 3%;
			margin-bottom: 0;

			img {
				margin: 0 0;
			}
		}

		&-title {
			@include text-style(24, $primary, $font-sub);
		}

		&-desc {
			@include text-style(14, $primary, $font-sub);
		}
		// business figure

		&.veus,
		&.rapid {
			@include flexbox;
			margin-top: 150px;

			.figure-image {
				flex-basis: 40%;
				flex-shrink: 0;
				margin-right: 60px;
			}

			.figure-title {
				@include text-style(52, $primary, $font-sub);
				font-weight: 800;
			}

			.figure-desc {
				@include text-style(16, $secondary);

				&-blue {
					@include text-style(20, $blue);
				}
			}
		}

		&.rapid {
			flex-direction: row-reverse;

			.figure-image {
				margin-right: 0;
				margin-left: 60px;
			}
		}
	}

	@include responsive(D) {
		&-desc {
			@include text-style(16, $primary, $font-sub);
		}

		&.veus {
			.figure-caption {
				background-color: #f7f8fb;
			}
		}

		&.rapid {
			margin-top: 300px;

			li {
				margin-right: 25px;
			}
		}
	}
}
