.gnb-nav {
	@include responsive(T) {
		position: relative;
		z-index: $gnb-nav-level;
		width: 100%;
		height: 100px;

		&-wrap {
			@include position-center-x;
			top: -1px;
		}

		&-list {
			@include flexbox(center, start);
			height: 100px;
			margin-right: 10px;

			&.is-open {
				.sub-list {
					max-height: 600px;
				}
			}
		}

		&-item {
			h3 {
				@include text-style(16, $primary, $font-sub);
				position: relative;
				display: inline-block;
				padding: 0 15px;
				font-weight: 600;
				line-height: 100px;
				border-bottom: 3px solid transparent;

				&:active {
					border-bottom: 3px solid $blue;
				}
			}
		}

		.sub-list {
			max-height: 0;
			padding-top: 40px;
			overflow: hidden;
			transition: max-height 200ms ease-in-out;

			.sub-item {
				margin-bottom: 11px;

				&:last-child {
					margin-bottom: 0;
				}

				a {
					@include text-style(16, $secondary);
					display: block;
					text-align: center;

					&:active {
						color: $blue;
					}
				}
			}
		}
	}

	@include responsive(D) {
		&-list {
			margin-right: 0;
		}

		&-item {
			h3 {
				padding: 0 40px;

				&:hover {
					border-bottom: 3px solid $blue;
				}
			}

			.sub-item {
				a:hover {
					color: $blue;
				}
			}
		}
	}
}
