.gnb-nav {
	@include responsive(T) {
		&-list {
			@include flexbox;
			margin-right: 10px;
		}

		a {
			@include text-style(16, $white, $font-sub);
			font-weight: 600;
		}

		&-item {
			margin-right: 40px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	@include responsive(D) {
		&-item {
			margin-right: 80px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
