.intro-nav {
	@include column-flexbox;

	&-button {
		width: 100%;
		padding-right: 55px;
		padding-bottom: 5px;
		margin-bottom: 10px;
		border-bottom: 1px solid $border;
	}

	&-title {
		@include text-style(20, $white, $font-sub);
		font-weight: 500;
		white-space: nowrap;
	}

	&-desc {
		font-size: 12px;
		color: $white;
		white-space: nowrap;
	}

	@include responsive(T) {
		@include flexbox(between);
		flex-direction: row;
		flex-wrap: wrap;

		&-button {
			width: 100%;
			padding-right: 55px;
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: 0;
		}

		&-title {
			@include text-style(20, $white, $font-sub);
			font-weight: 500;
			white-space: nowrap;
		}

		&-desc {
			font-size: 12px;
			color: $white;
			white-space: nowrap;
		}
	}

	@include responsive(D) {
		@include flexbox(between);
		flex-wrap: nowrap;
	}
}
