.intro-nav {
	@include column-flexbox;

	&-button {
		position: relative;
		width: 100%;
		padding-right: 55px;
		padding-bottom: 5px;
		margin-bottom: 10px;
		border-bottom: 1px solid $border;

		&::after {
			position: absolute;
			right: 0;
			bottom: 0;
			display: block;
			width: 42px;
			height: 42px;
			line-height: 42px;
			color: $white;
			text-align: center;
			border: 1px solid $white;
			border-radius: 50%;
			content: '+';
		}
	}

	&-title {
		@include text-style(20, $white, $font-sub);
		font-weight: 500;
		white-space: nowrap;
	}

	&-desc {
		font-size: 12px;
		color: $white;
		white-space: nowrap;
	}

	@include responsive(T) {
		@include flexbox(between);
		flex-direction: row;
		flex-wrap: wrap;

		&-button {
			position: relative;
			width: 100%;
			padding-right: 55px;

			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: 0;

			&::after {
				position: absolute;
				right: 0;
				bottom: 0;
				display: block;
				width: 42px;
				height: 42px;
				line-height: 42px;
				color: $white;
				text-align: center;
				border: 1px solid $white;
				border-radius: 50%;
				content: '+';
			}

			&:nth-child(2n + 1) {
				width: 40%;
			}

			&:not(:nth-child(2n + 1)) {
				width: 315px;
			}
		}

		&-title {
			@include text-style(20, $white, $font-sub);
			font-weight: 500;
			white-space: nowrap;
		}

		&-desc {
			font-size: 12px;
			color: $white;
			white-space: nowrap;
		}
	}

	@include responsive(D) {
		@include flexbox(between);
		flex-wrap: nowrap;

		&-button {
			width: auto !important;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
