.intro {
	@include column-flexbox(between);
	height: 100vh;
	min-height: 667px;
	padding-top: 150px;
	background-image: url('./assets/images/img-index-01-mobile.jpg');
	background-repeat: no-repeat;
	background-size: cover;

	&-box {
		&-title {
			margin-bottom: 10px;
			font-family: $font-sub;
			font-size: 34px;
			font-weight: 500;
			line-height: 42px;
			color: $white;
			text-align: center;
		}

		&-desc {
			font-size: 12px;
			line-height: 20px;
			color: $white;
			text-align: center;
		}
	}

	&-nav {
		margin-bottom: 50px;
	}

	@include responsive(T) {
		padding-top: 300px;
		background-image: url('./assets/images/img-index-01.jpg');

		&-box {
			&-title {
				font-size: 70px;
				line-height: 80px;
			}

			&-desc {
				font-size: 20px;
				line-height: 32px;
			}
		}

		&-nav {
			width: 70%;
			margin-bottom: 100px;
		}
	}

	@include responsive(D) {
		background-image: url('./assets/images/img-index-01-x2.png');

		&-nav {
			min-width: 1150px;
		}
	}
}
