.newsroom {
	position: relative;
	background-color: #000000;

	&-head {
		margin-bottom: 15px;

		h2,
		p,
		a {
			color: $white;
		}

		p {
			opacity: 0.6;
		}
	}

	&-more {
		display: inline-block;
		width: 30px;
		font-size: 10px;
		line-height: 26px;
		border-bottom: 1px solid $white;
	}

	&-slider {
	}

	&-button {
		@include flexbox(around);
		position: absolute;
		right: 15px;
		bottom: 85px;
		width: 60px;
		height: 60px;
		border: 1px solid $white;
		border-radius: 50%;

		&-prev,
		&-next {
			width: 30px;
			height: 60px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 50%;
		}

		&-prev {
			background-image: url('./assets/images/prev.png');
		}

		&-next {
			background-image: url('./assets/images/next.png');
		}
	}
}
