.newsroom-slider {
	&-figure {
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	&-caption {
		h2 {
			@include text-style(16, $white);
		}

		p {
			@include text-style(12, $red);
			font-weight: 800;

			time {
				font-weight: 400;
				color: $tertiary;

				&::before {
					font-size: 12px;
					margin: 0 3px;
					content: '|';
				}
			}
		}
	}

	&-count {
		@include text-style(12, rgba($white, 0.7), font-sub);
		position: relative;
		p {
			display: none;
			text-align: center;

			&.tns-nav-active {
				display: block;
			}

			&::before,
			&::after {
				@include position-center-y;
				right: 15px;
				width: 130px;
				height: 0;
				content: '';
			}

			&::before {
				border: 1px solid rgba($white, 0.2);
			}
			&::after {
				width: 0;
				border: 1px solid $white;
			}

			&.tns-nav-active {
				&::after {
					@include position-center-y;
					right: 15px;
					width: 130px;
					height: 0;
					border: 1px solid $white;
					content: '';
					transition: width 400ms ease-in-out;
				}
			}
		}
	}
}
