.ourvalue-figure {
	&-imge {
		display: block;
		width: 100%;
		border-radius: 8px;
	}

	&-caption {
		margin: 10px 0;
	}

	&-title {
		@include text-style(16, $primary, $font-sub);
	}

	&-desc {
		@include text-style(12, $secondary);
		margin-bottom: 10px;
	}

	&.box-title {
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: 30px;

		img {
			height: 100%;
			margin: 0 auto;
		}

		h2 {
			margin-bottom: 10px;
			font-size: 40px;
		}

		p {
			font-size: 12px;
		}
	}

	@include responsive(T) {
		&-imge {
			max-height: 100%;
		}

		&.box-title {
			margin-right: 3%;
			margin-bottom: 0;

			img {
				margin: 0 0;
			}
		}
	}
}
