.ourvalue {
	$ourvalue-figure-caption-sm: 86px;
	$ourvalue-figure-caption-md: 182px;
	$ourvalue-figure-caption-lg: 152px;
	height: 100vh;

	&-box {
		@include column-flexbox(start);
		height: 100%;
		padding: $gnb-height-sm + 15px 8.3% 0;
	}

	&-head {
		@include column-flexbox(end, center);
		flex-direction: column-reverse;
		width: 100%;
		margin-bottom: 10px;

		&-image {
			max-height: calc(100% - #{$ourvalue-figure-caption-sm} - 5px);

			img {
				width: 100%;
				border-radius: 8px;
			}
		}
	}

	&-list-wrap {
		@include no-scrollbar;
		padding-left: 3%;
		overflow: auto;
	}

	&-list {
		@include column-flexbox(start, start);
		margin: 0 auto;
	}

	&-item {
		margin-bottom: 15px;
	}

	&-item:nth-child(1) {
		padding-left: 8.5%;
	}

	&-item:nth-child(2) {
		padding-left: 20%;
	}

	&-item:nth-child(3) {
		padding-right: 20%;
		margin-bottom: 0;
	}

	@include responsive(T) {
		&-box {
			align-items: flex-start;
			flex-direction: row;
			padding: $gnb-height-md + 15px 8.3% 0;
		}

		&-head {
			width: 50%;

			&-image {
				width: 100%;
			}
		}

		&-list-wrap {
			width: 50%;
			height: calc(100% - #{$ourvalue-figure-caption-md});
			margin-top: $ourvalue-figure-caption-md;
		}

		&-list {
			padding-left: 30px;
		}

		&-item {
			margin-bottom: 50px;
		}
	}

	@include responsive(D) {
		height: 1300px;
		padding: 0 30px;

		&-box {
			justify-content: flex-end;
			padding-top: 200px;
			margin: 0 auto;
		}

		&-head {
			max-width: 580px;
			padding-right: 0;
			padding-left: 0;
		}

		&-list-wrap {
			height: calc(100% - #{$ourvalue-figure-caption-lg});
			padding-right: 0;
			padding-left: 0;
			margin-top: $ourvalue-figure-caption-lg;
		}

		&-list {
			padding-left: 60px;
		}

		&-item:nth-child(1) {
			max-width: 441px;
		}

		&-item:nth-child(3) {
			max-width: 390px;
			padding-right: 0;
			margin-bottom: 0;
		}
	}
}
