.ourvalue {
	padding: $gnb-height-sm + 15px 5%;

	&-list {
		@include column-flexbox(start, start);
		@include no-scrollbar;

		height: 100%;
		overflow: auto;
	}

	&-item {
		height: 100%;
	}

	&-item:nth-child(1) {
		padding-left: 8.5%;
	}

	&-item:nth-child(2) {
		padding-left: 20%;
	}

	&-item:nth-child(3) {
		padding-right: 20%;
	}

	@include responsive(T) {
		padding: $gnb-height-md + 100px 4% 0 8%;

		.box-title {
			padding-bottom: 92px;
		}

		&-box {
			@include flexbox(end, end);
		}

		&-list {
			align-items: end;
			min-height: 45%;
		}
	}

	@include responsive(D) {
	}
}
