.ourvalue {
	$ourvalue-figure-caption: 112px;
	height: 100vh;

	&-box {
		height: 100%;
	}

	&-title {
		@include column-flexbox(end, start);
		flex-direction: column-reverse;
		height: 50%;
		padding: $gnb-height-sm + 15px 5% 0;

		&-image {
			max-height: calc(100% - #{$ourvalue-figure-caption});

			img {
				height: 100%;
				border-radius: 8px;
			}
		}

		h2 {
			margin-bottom: 10px;
			font-size: 40px;
		}

		p {
			font-size: 12px;
		}
	}

	&-list-wrap {
		@include no-scrollbar;
		height: 40%;
		padding: 0 15px;
		margin-top: 10%;
		overflow: auto;
	}

	&-list {
		@include column-flexbox(start, start);
		// margin: 5% 0;
	}

	&-item {
		height: 100%;
	}

	&-item:nth-child(1) {
		padding-left: 8.5%;
	}

	&-item:nth-child(2) {
		padding-left: 20%;
	}

	&-item:nth-child(3) {
		padding-right: 20%;
	}

	@include responsive(T) {
		padding: $gnb-height-md + 100px 4% 0 8%;

		&-title {
			padding-bottom: 92px;
		}

		&-box-title {
			@include flexbox(end, end);
		}

		&-list {
			align-items: end;
			min-height: 45%;
		}
	}

	@include responsive(D) {
	}
}
