.technologies {
	width: 100%;

	&-item:not(:last-of-type) {
		position: relative;

		.diagram-img::after {
			position: absolute;
			top: 25px;
			right: -15px;
			display: block;
			width: 35px;
			border: 1px solid $diagram;
			content: '';
		}
	}

	&-title {
		@include text-style(16);
		margin-top: 15px;
		margin-bottom: 15px;
		font-weight: 800;
	}

	&-list {
		@include flexbox(start);
		margin-bottom: 30px;
	}

	&-item {
		margin-bottom: 30px;

		&:nth-child(2) .diagram {
			&-img {
				background-image: url('./assets/images/ico-tech2.png');
			}
		}

		&:nth-child(3) .diagram {
			&-img {
				background-image: url('./assets/images/ico-tech3.png');
			}
		}

		&:nth-child(4) .diagram {
			&-img {
				background-image: url('./assets/images/ico-tech4.png');
			}
		}

		&:nth-child(5) .diagram {
			&-img {
				background-image: url('./assets/images/ico-tech1.png');
			}
		}
	}

	@include responsive(D) {
		&-item:not(:last-of-type) {
			.diagram-img::after {
				top: 50px;
				right: -25px;
			}
		}

		&-title {
			@include text-style(20);
		}

		&-list.rapid {
			justify-content: flex-start;

			li {
				margin-right: 25px;

				p {
					width: 100px;
				}
			}
		}

		&-item {
			margin-right: 25px;
		}
	}
}
