// scss-lint:disable all
@font-face {
  font-family: 'xeicon';
  src:  url('./assets/fonts/xeicon.eot');
  src:  url('./assets/fonts/xeicon.eot') format('embedded-opentype'),
    url('./assets/fonts/xeicon.ttf') format('truetype'),
    url('./assets/fonts/xeicon.woff') format('woff'),
    url('./assets/fonts/xeicon.svg#xeicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
