// scss-lint:disable all
@font-face {
  font-family: 'ezdiatech';
  src:  url('./assets/fonts/ezdiatech.eot');
  src:  url('./assets/fonts/ezdiatech.eot') format('embedded-opentype'),
    url('./assets/fonts/ezdiatech.ttf') format('truetype'),
    url('./assets/fonts/ezdiatech.woff') format('woff'),
    url('./assets/fonts/ezdiatech.svg#ezdiatech') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
