* {
	margin: 0;
	font-family: $font-main;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0.025em;
	box-sizing: border-box;
}

html,
body {
	font-family: $font-main;
	font-size: $font-size-16;
	color: $primary;
	word-break: keep-all;
}

h1 {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

input,
button,
select,
textarea {
	background-color: transparent;
	border: 0;

	&:focus {
		outline: none;
		box-shadow: none;
	}
}

button {
	padding: 0;
}

a,
button {
	cursor: pointer;
}

ul,
ol,
li {
	padding-left: 0;
	list-style: none;
}

address {
	font-style: normal;
}
