.diagram {
	@include column-flexbox;
	width: 100%;

	&-img {
		width: 50px;
		height: 50px;
		margin-bottom: 5px;
		background-color: $diagram;
		background-image: url('./assets/images/ico-tech1.png');
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 50%;
	}

	&-text {
		@include text-style(10, $diagram-text);
		width: 50px;
		text-align: center;
	}
}
