.global-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: $global-header-level;
	width: 100%;

	&::after {
		position: absolute;
		top: 100px;
		right: 0;
		display: block;
		width: 100%;
		height: 1px;
		background-color: $border;
		content: '';
	}

	&.is-top {
		&::after {
			display: none;
		}
	}

	.gnb {
		min-width: 350px;
		background-color: $white;

		&.is-top {
			background-color: transparent;

			.gnb-language-button,
			.gnb-menu-button i,
			.gnb-nav-item h3 {
				color: $white;
			}

			.logo-white {
				display: block;
			}

			.logo-black {
				display: none;
			}

			.gnb-language-button {
				border: 1px solid $white;
			}
		}

		&-menu {
			@include flexbox(between);
			position: relative;
			margin: 10px 0;

			.logo {
				@include position-center;

				&-white {
					display: none;
				}

				&-black {
					display: block;

					img {
						display: block;
						width: auto;
						height: 45px;
					}
				}
			}
		}

		&-menu-button {
			order: 1;
			width: 44px;
			height: 44px;

			i {
				font-size: 43px;
				color: $primary;
			}
		}

		&-language-button {
			@include flexbox;
			order: 2;
			width: 44px;
			height: 44px;
			font-family: 'Montserrat', sans-serif;
			font-size: 14px;
			font-weight: 600;
			line-height: 28px;
			color: $primary;
			text-align: center;
			border: 1px solid $primary;
			border-radius: 13px;

			i {
				font-size: 14px;
			}
		}

		@include responsive(T) {
			width: 100%;
			overflow: hidden;

			&::before {
				position: absolute;
				top: -200px;
				width: 100%;
				height: 300px;
				background-color: $white;
				content: '';
				transition: transform 150ms ease-in-out;
			}

			&.is-open {
				height: 300px;

				&::before {
					transform: translateY(200px);
				}
			}

			&.is-top {
				&::before {
					display: none;
				}
			}

			.logo {
				position: static;
				margin-right: 10px;
				transform: none;
			}

			&-language-button,
			&-menu-button i {
				color: $primary;
			}

			&-menu {
				margin: 0;
			}

			&-button-wrap {
				@include flexbox;
			}

			&-menu-button {
				order: 2;
			}
		}

		@include responsive(D) {
			&-language-button {
				order: 1;
				width: 80px;
				margin-right: 10px;
				border-radius: 26px;

				i {
					margin-left: 10px;
				}
			}
		}
	}
}
