.gnb {
	position: fixed;
	top: 0;
	left: 0;
	z-index: $gnb-level;
	width: 100vw;
	min-width: 350px;

	&-menu {
		@include flexbox(between);
		position: relative;
		margin: 10px 0;
	}

	&-button-language {
		@include flexbox;
		order: 2;
		width: 44px;
		height: 44px;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		line-height: 28px;
		color: $white;
		text-align: center;
		border: 1px solid $border;
		border-radius: 13px;

		i {
			font-size: 14px;
		}
	}

	&-button-menu {
		order: 1;
		width: 44px;
		height: 44px;

		i {
			font-size: 43px;
			color: $white;
		}
	}

	.logo {
		@include position-center;

		a,
		img {
			display: block;
		}

		img {
			width: auto;
			height: 45px;
		}
	}

	@include responsive(T) {
		.logo {
			position: static;
			margin-right: 10px;
			transform: none;

			&-black {
				img {
					display: none;
				}
			}
		}

		&-button-wrap {
			@include flexbox;
		}

		&-button-menu {
			order: 2;
		}
	}

	@include responsive(D) {
		height: 100px;

		&.is-open {
			background-color: $white;
			border-bottom: 1px solid $border;

			.gnb-button-language,
			.gnb-button-menu i,
			.gnb-nav a {
				color: $primary;
			}

			.logo-white {
				img {
					display: none;
				}
			}

			.logo-black {
				img {
					display: block;
				}
			}
		}

		&-wrap {
			@include position-center;
			width: 100%;
		}

		&-button-language {
			order: 1;
			width: 80px;
			margin-right: 10px;
			border-radius: 26px;

			i {
				margin-left: 10px;
			}
		}
	}
}
