.intro {
	&-box {
		@include position-center;
		width: 100%;

		&-title {
			margin-bottom: 10px;
			font-family: $font-sub;
			font-size: 34px;
			font-weight: 500;
			line-height: 42px;
			color: $white;
			text-align: center;
		}

		&-desc {
			font-size: 12px;
			line-height: 20px;
			color: $white;
			text-align: center;
		}
	}

	@include responsive(T) {
		&-box {
			&-title {
				font-size: 70px;
				line-height: 80px;
			}

			&-desc {
				font-size: 20px;
				line-height: 32px;
			}
		}

		&-nav {
			@include position-center-x;
		}
	}
}
