$font-main: 'Noto Sans KR', sans-serif;
$font-sub: 'Poppins', sans-serif;

$font-size-60: 60px;
$line-height-60: 82px;

$font-size-52: 52px;
$line-height-52: 74px;

$font-size-42: 42px;
$line-height-42: 62px;

$font-size-32: 32px;
$line-height-32: 48px;

$font-size-24: 24px;
$line-height-24: 40px;

$font-size-20: 20px;
$line-height-20: 32px;

$font-size-18: 18px;
$line-height-18: 30px;

$font-size-16: 16px;
$line-height-16: 28px;

$font-size-15: 15px;
$line-height-15: 28px;

$font-size-14: 14px;
$line-height-14: 24px;

$font-size-12: 12px;
$line-height-12: 22px;

$font-size-10: 10px;
$line-height-10: 20px;
